
<!DOCTYPE html> 
<Html> 
    <Head>  
        <Meta   charset = "utf-8">  
        <Title>Delivery Natal Foods</title>  
    </Head> 
    <Body> 
        <div id = "container"   style = "width: 100%;"> 
            <Div id = "header"   style = "background-color: #FFA500; "> 
                <H1 style = "margin-bottom: 20 ; text-align: center;"> Delivery Natal </h1> </div> 

            <div   id = "menu"   style = "background-color: #231c1c; color:#EEEEEE; height: 500px; width: 700px; float: left; font-size: 20px;"> 
                <button>Home</button> <br><br> <button>Login</button> <br><br> <button>Cardápio</button> <br><br> <button>Promoções</button> 
            </div> 

            <div id = "content" style="background-color:#EEEEEE; height:100%; width:100%; float:left; font-size:20px;"> 
                <p>Restaurante da Natal, o melhor prato feito da região.</p>
                <p>E o pior atendimento da região</p>
            </div> 

            <div   id = "footer"   style = "background-color: #FFA500;  clear: both; text-align: center; font-size: 15px;"> Poweredy by Pinheir0g </div> 
        </div>
    </Body> 
</Html>